/**
 * @file
 */
html,body {
  background-color:#ccc;
  color:#888;
  font-family:"Helvetica Neue", Helvetica, sans-serif;
  font-size:15px;
}
* { margin-top:0; }
body { padding:2rem; }
#everything-everything {
  background-color:#eee;
  border-radius:1rem;
  margin:0 auto;
  max-width:20rem;
  padding:1rem;
}
h1 {
  color:#666;
  font-weight:normal;
  text-align:center;
}
input {
  border-radius:0.5rem;
  border-style:none;
  box-sizing:border-box;
}
input[type='email'] {
  background-color:#ddd;
  color:#888;
  font-size:1rem;
  padding:0.5rem;
  width:100%;
}
input[type='submit'] {
  background-color:#ccc;
  color:#888;
  font-size:1rem;
  padding:0.5rem;
  text-transform:lowercase;
}
div.clear {
  padding-top:0.5rem;
  text-align:right;
}
